
body{
   margin: 0px;
   background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
   font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

.button {
    display: inline-block;
    background: #ff9a56;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 15px;rr
}

.button:hover {
    background: #ffc107;
}
header {
    background: linear-gradient(200deg, #466ed3 0%, #f5f7fa 100%);
    color:#1f1f1f ;
    text-align: center;
    padding: 60px 0;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}
.hightlight{
   color: #ff9a56;
}
.head .container{

}

.topics {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
@media (min-width: 768px) {
  .topics {
    grid-template-columns: repeat(3, 1fr);
  }
}

.topic-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 13px rgba(0,0,0,0.50);
  background: #fdfcfc;
  font-weight: bold;
}

.topic-card {
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: #ff9a56;
    text-decoration: none;
    font-weight: bold;
}
#lessons{
   //margin: 20px;
   padding: 1.5rem;
}

footer{
   background: black;
   width: 100%;
   text-align: center;
   color: white;
   padding: 1.5rem 0;
   margin-top: 2rem;
}
.title{
   color: #ff9a56;
}

/*factorisation page*/
.lesson-content{
   padding: 0px;
}

.lesson-content h3{
   color: #ff9a56;
   font-weight: bold;
}

.explanation h3{
   color: blue;
   font-weight: bold;
}

.explanation p{
   padding-left: 30px;
}

.explanation {
   background: #f0eeee;
   padding: 10px;
   width: 90%;
   box-shadow:0 2px 4px #939393;
   border-radius: 10px;
   margin: 0 auto;
   margin-bottom: 20px;
   
}
.lesson{
   background: #f0eeee;
   padding: 10px;
   width: 90%;
   box-shadow:0 2px 4px #939393;
   border-radius: 10px;
   margin: 0 auto;
   margin-bottom: 10px;
}

.example{
   background: white;
   border-radius: 10px;
   color: black;
   padding: 10px;
   margin-top: 10px;
   box-shadow: 0 2px 5px grey;
   text-align: center;
   border-left: 4px solid black;
}

.answer{
   color: #628866;
}

/*matrix page*/
.samples{
   margin: 0 auto;
   width: 90%;
   box-shadow: 0 5px 5px #858585;
   padding: 10px;
   border-radius: 5px;
}
.contents {
   //border-left: 5px solid black;
   background: #c0c4a6;
   padding: 10px;
   border-radius: 5px;
   box-shadow: 1px 5px 5px #9c9c9c;
}
.samples h2{
   color: #9d4848;
}
i{
   color: green;
}
